<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN' 'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace="IDAO.IclienteIDAO">
    <insert id="nuevoCliente" parameterType="sysempeno.model.Cliente" useGeneratedKeys="true" keyProperty="idCliente">
        INSERT INTO Cliente (nombre,apellidoPaterno,apellidoMaterno,sexo,fechaNacimiento,rfc,numeroIdentificacion,curp,telefono,calle,numero,interior,colonia,codigopostal,localidad,email,comentarios)   
        VALUES (#{nombre},#{apellidoPaterno},#{apellidoMaterno}, #{sexo},#{fechaNacimiento},#{rfc},#{numeroIdentificacion},#{curp},#{telefono},#{calle},#{numero},#{interior},#{colonia},#{codigoPostal},#{localidad},#{email},#{comentarios}) 
    </insert> 
    <update id = "editarCliente" parameterType = "sysempeno.model.Cliente">
        UPDATE Cliente SET  nombre = #{nombre}, apellidoPaterno = #{apellidoPaterno}, apellidoMaterno = #{apellidoMaterno},sexo = #{sexo},
        fechaNacimiento = #{fechaNacimiento},rfc = #{rfc}, numeroIdentificacion =#{numeroIdentificacion}, curp = #{curp},
        telefono = #{telefono},calle = #{calle}, numero = #{numero}, interior= #{interior},colonia = #{colonia},codigoPostal= #{codigoPostal},
        localidad = #{localidad}, email = #{email}, comentarios = #{comentarios}
        WHERE idCliente= #{idCliente}
    </update>
    <select id="obtenerCliente" parameterType= "string" resultType = "sysempeno.model.Cliente">     
        SELECT *FROM Cliente WHERE LOWER (nombre) LIKE LOWER (#{nombre})
    </select>
</mapper>
 
